<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013797512163-g84vikiddu8cfrlhg5t6634nd0ain1e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013797512163-g84vikiddu8cfrlhg5t6634nd0ain1e9</string>
	<key>API_KEY</key>
	<string>AIzaSyDntQGTIMRE30PaFLmevs60gz0tfGR-26M</string>
	<key>GCM_SENDER_ID</key>
	<string>1013797512163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tourGuideApp</string>
	<key>PROJECT_ID</key>
	<string>jordan-tour-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>jordan-tour-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013797512163:ios:bb7252a1c0a44cb578f6d6</string>
</dict>
</plist>